@import 'normalise.css';
@import 'fonts.css';
@import 'colours.css';
@import 'graph.css';

html, body {
  font-family: 'Maison Neue Mono';
  letter-spacing: .4rem;
  margin: 0;
  background: var(--snow);
}

a {
  cursor: pointer;
}

h1 {
  letter-spacing: 1.5rem;
}

h2 {
  letter-spacing: .6rem;
}

main.app {
  display: grid;
  height: 100%;
}

article {
  height: 100%;
  overflow: hidden;
}

div.banner {
  height: 100%;
  position: relative;
}

div.banner > div.left, div.right {
  width: 50%;
}

div.banner > div.left {
  text-align: left;
  left: 10%;
  position: absolute;
  z-index: 1;
  top: 25%;
  transform: translate(-10%, -50%);
}

div.banner > div.right {
  text-align: right;
  position: absolute;
  z-index: 1;
  right: 5%;
  bottom: 5%;
  transform: translate(-5%, -50%)
}

div.banner > div > h1 {
  font-size: 38pt;
  color: var(--snow);
}

div.banner > div > h2 {
  font-size: 22pt;
  color: var(--snow);
}

nav.primary {
  height: 48px;
  background: var(--snow);
  border-bottom: 3px solid var(--snow);
}

nav.primary > ul {
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}

nav.primary > ul > a {
  padding: 1rem;
  text-decoration: none;
  color: var(--grey);
}

nav.primary > ul > a:hover {
  background: var(--grey);
  color: var(--snow);
}

nav.primary > ul > li {
  margin: 0;
  padding: 15px 10px 15px 10px;
  display: inline-block;
  list-style-type: none;
}

footer {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, auto);

}
